<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="header">
        <div class="brand">
        <a href="#">
            <h1>Mine<span>res</span></h1>
        </a>
        </div>
        <div id="wrapper">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a  href="/product">Shop</a></li>
                <li><a class="active" href="#">Contact</a></li>
                <li><a href="/cart"><img src="https://img.icons8.com/ios-glyphs/90/000000/shopping-cart--v1.png" width="30" height="30"/></a></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><img src="https://img.icons8.com/ios-glyphs/90/000000/shopping-cart--v1.png" width="30" height="30"/></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <section id="page-header">
        <h2>Our Location</h2>
        <p>We will available offline here!</p>
    </section>
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>Get in touch!</span>
            <h2>Visit one of our agency location or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <img src="https://img.icons8.com/ios-glyphs/90/000000/map-marker.png" width="30" height="30" />
                    <p>Gitam University,Visakhapatnam</p>
                </li>
                <li>
                    <img src="https://img.icons8.com/ios-glyphs/90/000000/phone--v1.png" width="30" height="30"/>
                    <p>+91 123-123-1234</p>
                </li>
                <li>
                    <img src="https://img.icons8.com/ios-glyphs/90/000000/new-post.png" width="30" height="30"/>
                    <p>Instant@gmail.com</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15196.594246213584!2d83.36666613054636!3d17.784713737786372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395b0709859225%3A0x9fe36ea9b51656e9!2sGITAM%20University%20Visakhapatnam!5e0!3m2!1sen!2sin!4v1665239076186!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>