<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="script.js"></script>
    <section id="header">
        <div class="brand">
        <a href="#">
            <h1>In<span>stant</span></h1>
        </a>
        </div>
        <div id="wrapper">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/product">Shop</a></li>
                <li><a href="#">Categories</a>
                    <div class="mega-box">
                        <div class="content">
                          <div class="row">
                            <header>Material</header>
                            <ul class="mega-links">
                                <li><a href="/sp" data-after="p1">Bricks</a></li>
                                <li><a href="/sp1">Cement</a></li>
                                <li><a href="/sp2">Concrete</a></li>
                                <li><a href="/sp3">Steel</a></li>
                                <li><a href="/sp4">Sand</a></li>
                           </ul>
                      </div>
                      <div class="row">
                        <header>Indoor Essentials</header>
                           <ul class="mega-links">
                                <li><a href="/sp5">Wires</a></li>
                                <li><a href="/sp6">Ceramics</a></li>
                                <li><a href="/sp7">Wood</a></li>
                                <li><a href="/sp8">Paints</a></li>
                                <li><a href="/sp9">Glass</a></li>
                          </ul>
                      </div>
                      <div class="row">
                           <header>Machinery</header>
                            <ul class="mega-links">
                                <li><a href="/sp10">Transit mixer</a></li>
                                <li><a href="/sp11">Drum Mixer</a></li>
                                <li><a href="/sp12">Mini crane</a></li>
                                <li><a href="/sp13">Tower Hoist</a></li>
                                <li><a href="/sp14">Wheel Barrow</a></li>
                           </ul>
                          </div>
                        </div>
                    </div>
                   
                </li>
                <li><a href="/cart"><img src="https://img.icons8.com/ios-glyphs/90/000000/shopping-cart--v1.png" width="30" height="30"/></a></li>
            </ul>
        </div>
    </section>
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{% static './Images/1582102416953HTB1F90iSFXXXXcNaXXXq6xXFXXXU.jpeg'%}" width="100%" id="MainImg" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{% static './Images/1582100358952350.jpeg'%}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static './Images/unic_urw_094_mini_spider_crane2-456x342.jpeg'%}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static './Images/H53b9088606e44101a59161819cd0df27b.jpeg.crdownload'%}" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6>Mini Crane</h6>
            <h4>Best Quality</h4>
            <h2>Rs.39,499</h2>
            <input type="number" value="1">
            <button class="normal" style="vertical-align:middle"><span>Add To Cart</span></button>
            <h4>Product Details</h4>
            <span><h2>The offered products are manufactured with the help of finest material and utilizing advanced techniques. Our offered range is widely demanded among our esteemed customers for crack resistant nature, long life, easy to use, durability and lightweight.
                All process of our firm is stringently monitored to bring perfection in the product range. We have a separate department where the industrial cranes are designed by a crew of experienced professionals, carefully. Also, products offered by us are available in different sizes and other options as per the demands of customers. Successfully succeeding in the market, we have attained popularity among clients by following principled business strategies.</h2></span>
        </div>
    </section>
    <script>
        var MainImg=document.getElementById("MainImg");
        var smallimg=document.getElementsByClassName("small-img");

        smallimg[0].onclick=function(){
            MainImg.src=smallimg[0].src;
        }
        smallimg[1].onclick=function(){
            MainImg.src=smallimg[1].src;
        }
        smallimg[2].onclick=function(){
            MainImg.src=smallimg[2].src;
        }
        smallimg[3].onclick=function(){
            MainImg.src=smallimg[3].src;
        }
    </script>
</body>
</html>